@brandColor: #2DACEC;
@startColor: #03DDE4;
@intermediateColor: #30AFED;
@endColor: #8755FF;
@mobileWidth: 640px;
@contentWidth: 1280px;

@import url('/src/style/variable.less');
@import url('/src/style/base.less');

  .home-page {
    padding: 64px 0 30px;
    &.feature{
      background: #eee url(/static/home/features_bg.png) center no-repeat;
      background-size: cover;
    }
    &.slogan{
      margin-top: -54px;
      background: #eee url(/static/home/banner_bg.png) center no-repeat;
      background-size: cover;
    }
    &.introduce{
      padding-bottom: 100px;
    }
    .home-block-title{
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 46px;
    }
    .home-block{
      padding: 20px 0;
      .home-paragraph{
        font-size: 18px;
        color: #4A4A4A;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 16px;
      }
    }
    .description{
      .home-block{
        padding: 40px 0;
        .botton-row{
          padding: 20px 0 40px;
        }
      }
      .home-paragraph{
        font-size: 14px;
        background: #fff;
      }
      .home-paragraph-title{
        font-size: 20px;
        line-height: 44px;
        font-weight: 600;
      }
      .description-image{
        display: block;
        width: 780px;
        min-height: 460px;
        margin: 52px auto 20px;
      }
      .bold-dot{
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: @active-color;
      }
      svg{
        height: 860px;
        width: 860px;
        position: absolute;
        top: 40px;
        left: 50%;
        z-index: -1;
        margin-left: -430px;
        circle {
          fill: transparent;
          stroke: @active-color;
          stroke-width: 0.3;
        }
        .dotted {
          stroke-dasharray: 0,3;
          stroke-linecap: round;
        }
      }
    }

    .concept{
      display: grid;
      grid-template-columns: repeat(2, 600px);
      grid-column-gap: 20px;
      .concept-item{
        &.before{
          .before-image{
            background: rgb(250, 250, 251);
            margin-left: -30px;
            padding-left: 30px;
            padding-right: 30px;
            margin-right: -30px;
            margin-bottom: -30px;
            padding-bottom: 30px;
            padding-top: 40px;
          }
          .concept-ctn{
            padding: 40px 50px 30px 30px;
            background: #e4e5e9 url(/static/home/before_linkis_bg.png) 320px 0px no-repeat;
            background-size: 280px;
          }
          .concept-title{
            background: #E4E5E9;
          }
        }
        &.after{
          position: relative;
          z-index: 10;
          left: -60px;
          top: 52px;
          .concept-ctn{
            background: @active-color url(/static/home/after_linkis_bg.png) 230px -120px no-repeat;
            background-size: 450px;
            box-shadow: -12px 0 34px rgba(51,89,218,0.3);
            .home-paragraph{
              color: #fff;
            }
            .concept-image{
              border-radius: 4px;
            }
          }
          .concept-title{
            color: #fff;
            background: @active-color;
          }
        }
        .concept-ctn{
          padding: 40px 30px 30px;
          border-radius: 10px;
          .home-paragraph{
            margin-bottom: 30px;
          }
        }
        .concept-title{
          display: inline-block;
          padding: 0 24px;
          font-size: 24px;
          line-height: 48px;
          font-weight: 600;
          margin-bottom: 16px;
          color: @enhance-color;
          border-top-left-radius: 24px;
          border-top-right-radius: 24px;
          border-bottom-left-radius: 24px;
        }
        .concept-image{
          width: 100%;
        }
      }
    }
    .show-case{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      margin-bottom: 20px;
      .case-item{
        display: flex;
        min-width: 0;
        padding: 5px;
        height: 88px;
        background: #FFFFFF;
        box-shadow: 0 1px 20px 0 rgba(15,18,34,0.10);
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        > img {
          max-width: 90%;
          max-height: 90%;
        }
      }
    }
    .features{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .feature-item{
        width: 320px;
        height: 320px;
        margin-right: 32px;
        margin-bottom: 32px;
        background: #FFFFFF;
        // box-shadow: 0 0 16px 0 rgba(211,211,211,0.50);
        border-radius: 10px;
        padding: 126px 50px 24px;
        background-repeat: no-repeat;
        background-size: 80px;
        background-position: center 30px;
        &:nth-child(3n+3){
          margin-right: 0;
        }
        &.scalability{
          background-image: url(/static/home/icons/scalability.png);
        }
        &.connectivity{
          background-image: url(/static/home/icons/connectivity.png);
        }
        &.controllability{
          background-image: url(/static/home/icons/controllability.png);
        }
        &.orchestration{
          background-image: url(/static/home/icons/orchestration.png);
        }
        &.reusability{
          background-image: url(/static/home/icons/reusability.png);
        }
        .item-title{
          margin-bottom: 8px;
          color: #393939;
          line-height: 26px;
          font-size: 18px;
          font-weight: 500;
        }
        .item-desc{
          color: #666666;
          line-height: 22px;
          font-weight: 400;
        }
      }
    }
    .banner {
      padding: 140px 0 70px;
      .home-title {
        margin-bottom: 20px;
        font-size: 0;
        line-height: 60px;

        .apache {
          color: #0F1223;
          font-weight: 600;
          font-size: 80px;
          margin-right: 8px;
        }

        .linkis {
          color: @active-color;
          font-weight: 600;
          font-size: 80px;
          margin-right: 8px;
        }

        .badge {
          font-size: 24px;
          font-weight: 500;
          color: @active-color;
        }
      }

      .home-desc {
        margin-bottom: 56px;
        font-size: 24px;
        color: @enhance-color;
        text-align: center;
        line-height: 32px;
        font-weight: 400;
      }
    }

    .botton-row{
      display: flex;
      &.center{
        justify-content: center;
      }
    }
  }