@import './variable.less';

* {
  box-sizing: border-box;
}

body,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #4A4A4A;
  line-height: 26px;
  background: #ffffff;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: @enhance-color;
}

.ctn-block {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.reading-area {
  display: flex;
  padding: 60px 0;
  min-height: 600px;

  .main-content {
    width: 900px;
    padding: 30px;
  }

  .side-bar {
    flex: 1;
    padding: 18px 0;
    border-left: 1px solid #eaecef;

    .bar-item {
      display: block;
      padding: 5px 18px;
      color: #4A4A4A;

      &:hover,
      &.router-link-exact-active {
        color: @active-color;
      }
    }
  }
}